.tech {
    width: 50vw;
}

.hw15Block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.developer {

}

.techHeader {
    width: 50vw;
}


.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 55%;
    height: 180px;
    padding-top: 30px;
    opacity: 50%;
    margin: 0 auto;
    background-color: gray;
    position: absolute;
}